kestra-workflows/challenge-submission-pipeline.yaml
id: challenge-submission-pipeline
namespace: cademy.evaluation

inputs:
  - id: submission_data
    type: JSON
    description: Student's 3D model submission
  - id: challenge_id
    type: STRING
  - id: user_id
    type: STRING

tasks:
  - id: parse_geometry
    type: io.kestra.plugin.scripts.python.Script
    runner: DOCKER
    docker:
      image: python:3.11-slim
    script: |
      import json
      import sys
      
      submission = json.loads('{{ inputs.submission_data }}')
      
      # Extract geometric features
      features = {
          "object_count": len(submission.get("objects", [])),
          "bounding_boxes": [],
          "volumes": [],
          "operations": submission.get("operations", []),
          "transforms": []
      }
      
      for obj in submission.get("objects", []):
          bbox = obj.get("boundingBox", {})
          features["bounding_boxes"].append(bbox)
          features["volumes"].append(obj.get("volume", 0))
          features["transforms"].append(obj.get("transform", {}))
      
      print(json.dumps(features))
    outputFiles:
      - "*.json"

  - id: generate_summary
    type: io.kestra.plugin.scripts.python.Script
    runner: DOCKER
    docker:
      image: python:3.11-slim
    script: |
      import json
      
      features = json.loads('''{{ outputs.parse_geometry.outputFiles['*.json'] }}''')
      
      summary = {
          "total_objects": features["object_count"],
          "complexity_score": min(features["object_count"] * 10, 100),
          "operations_used": len(features["operations"]),
          "spatial_distribution": "compact" if features["object_count"] < 5 else "distributed"
      }
      
      print(json.dumps(summary))

  - id: call_oumi_evaluation
    type: io.kestra.plugin.scripts.python.Script
    runner: DOCKER
    docker:
      image: python:3.11-slim
    beforeCommands:
      - pip install requests
    script: |
      import json
      import requests
      
      summary = json.loads('''{{ outputs.generate_summary.vars.summary }}''')
      challenge_id = '{{ inputs.challenge_id }}'
      
      # Call Oumi evaluation endpoint
      payload = {
          "summary": summary,
          "challenge_id": challenge_id,
          "prompt": f"Evaluate this CAD model submission for challenge {challenge_id}. Summary: {json.dumps(summary)}"
      }
      
      response = requests.post(
          "http://backend:3001/api/oumi/evaluate",
          json=payload,
          timeout=30
      )
      
      result = response.json()
      print(json.dumps(result))

  - id: calculate_score
    type: io.kestra.plugin.scripts.python.Script
    runner: DOCKER
    docker:
      image: python:3.11-slim
    script: |
      import json
      
      oumi_result = json.loads('''{{ outputs.call_oumi_evaluation.vars.result }}''')
      summary = json.loads('''{{ outputs.generate_summary.vars.summary }}''')
      
      # Combine rule-based and AI scoring
      rule_score = summary["complexity_score"] * 0.3
      ai_score = oumi_result.get("score", 0) * 0.7
      
      final_score = rule_score + ai_score
      
      result = {
          "final_score": round(final_score, 2),
          "rule_component": round(rule_score, 2),
          "ai_component": round(ai_score, 2),
          "feedback": oumi_result.get("feedback", ""),
          "suggestions": oumi_result.get("suggestions", []),
          "passed": final_score >= 70
      }
      
      print(json.dumps(result))

  - id: decide_next_challenge
    type: io.kestra.plugin.core.flow.Switch
    value: "{{ outputs.calculate_score.vars.result.passed }}"
    cases:
      "true":
        - id: unlock_next
          type: io.kestra.plugin.scripts.python.Script
          runner: DOCKER
          docker:
            image: python:3.11-slim
          script: |
            import json
            challenge_id = '{{ inputs.challenge_id }}'
            next_id = int(challenge_id.split('_')[-1]) + 1
            print(json.dumps({"next_challenge": f"challenge_{next_id}", "status": "unlocked"}))
      "false":
        - id: suggest_remediation
          type: io.kestra.plugin.scripts.python.Script
          runner: DOCKER
          docker:
            image: python:3.11-slim
          script: |
            import json
            print(json.dumps({"next_challenge": "{{ inputs.challenge_id }}", "status": "retry", "hint": "Review the requirements"}))

  - id: store_results
    type: io.kestra.plugin.scripts.python.Script
    runner: DOCKER
    docker:
      image: python:3.11-slim
    beforeCommands:
      - pip install requests
    script: |
      import json
      import requests
      
      result = json.loads('''{{ outputs.calculate_score.vars.result }}''')
      
      requests.post(
          "http://backend:3001/api/submissions/store",
          json={
              "user_id": "{{ inputs.user_id }}",
              "challenge_id": "{{ inputs.challenge_id }}",
              "score": result["final_score"],
              "feedback": result["feedback"],
              "passed": result["passed"]
          }
      )
      
      print("Results stored successfully")

outputs:
  - id: evaluation_result
    type: JSON
    value: "{{ outputs.calculate_score.vars.result }}"
