kestra-workflows/learning-path-agent.yaml
id: learning-path-agent
namespace: cademy.personalization

inputs:
  - id: user_id
    type: STRING
  - id: trigger_event
    type: STRING
    description: "completion, failure, or periodic"

tasks:
  - id: fetch_user_progress
    type: io.kestra.plugin.scripts.python.Script
    runner: DOCKER
    docker:
      image: python:3.11-slim
    beforeCommands:
      - pip install requests
    script: |
      import json
      import requests
      
      response = requests.get(f"http://backend:3001/api/users/{{ inputs.user_id }}/progress")
      progress = response.json()
      
      print(json.dumps(progress))

  - id: analyze_performance
    type: io.kestra.plugin.scripts.python.Script
    runner: DOCKER
    docker:
      image: python:3.11-slim
    script: |
      import json
      
      progress = json.loads('''{{ outputs.fetch_user_progress.vars.progress }}''')
      
      completed = progress.get("completed_challenges", [])
      scores = progress.get("scores", [])
      
      avg_score = sum(scores) / len(scores) if scores else 0
      completion_rate = len(completed) / progress.get("total_challenges", 1)
      
      analysis = {
          "avg_score": round(avg_score, 2),
          "completion_rate": round(completion_rate, 2),
          "strong_areas": [],
          "weak_areas": [],
          "recommended_difficulty": "intermediate"
      }
      
      if avg_score >= 80:
          analysis["recommended_difficulty"] = "advanced"
      elif avg_score < 60:
          analysis["recommended_difficulty"] = "beginner"
      
      print(json.dumps(analysis))

  - id: call_oumi_personalization
    type: io.kestra.plugin.scripts.python.Script
    runner: DOCKER
    docker:
      image: python:3.11-slim
    beforeCommands:
      - pip install requests
    script: |
      import json
      import requests
      
      analysis = json.loads('''{{ outputs.analyze_performance.vars.analysis }}''')
      progress = json.loads('''{{ outputs.fetch_user_progress.vars.progress }}''')
      
      payload = {
          "user_analysis": analysis,
          "progress_history": progress,
          "prompt": f"Recommend next learning steps for a CAD student with avg score {analysis['avg_score']} and completion rate {analysis['completion_rate']}"
      }
      
      response = requests.post(
          "http://backend:3001/api/oumi/personalize",
          json=payload
      )
      
      recommendations = response.json()
      print(json.dumps(recommendations))

  - id: generate_learning_path
    type: io.kestra.plugin.scripts.python.Script
    runner: DOCKER
    docker:
      image: python:3.11-slim
    script: |
      import json
      
      analysis = json.loads('''{{ outputs.analyze_performance.vars.analysis }}''')
      recommendations = json.loads('''{{ outputs.call_oumi_personalization.vars.recommendations }}''')
      
      learning_path = {
          "user_id": "{{ inputs.user_id }}",
          "difficulty_level": analysis["recommended_difficulty"],
          "next_challenges": recommendations.get("suggested_challenges", []),
          "focus_areas": recommendations.get("focus_areas", []),
          "estimated_time": recommendations.get("estimated_time", 0),
          "personalized_tips": recommendations.get("tips", [])
      }
      
      print(json.dumps(learning_path))

  - id: update_user_path
    type: io.kestra.plugin.scripts.python.Script
    runner: DOCKER
    docker:
      image: python:3.11-slim
    beforeCommands:
      - pip install requests
    script: |
      import json
      import requests
      
      path = json.loads('''{{ outputs.generate_learning_path.vars.learning_path }}''')
      
      response = requests.put(
          f"http://backend:3001/api/users/{{ inputs.user_id }}/learning-path",
          json=path
      )
      
      print(f"Learning path updated: {response.status_code}")

outputs:
  - id: learning_path
    type: JSON
    value: "{{ outputs.generate_learning_path.vars.learning_path }}"
